@tailwind base;
@tailwind components;
@tailwind utilities;

.Form {
  @apply grid grid-cols-1 sm:grid-cols-2 rounded-3xl w-full max-w-[1080px] min-h-[400px] shadow-lg m-auto bg-white
}

.Sign_In_Form {
  @apply grid grid-cols-1 sm:grid-cols-2 rounded-3xl w-full max-w-[1080px] min-h-[400px] shadow-lg m-auto backdrop-blur-2xl bg-white/30 border-white border-2
}
.Button {
  @apply rounded-full border-2 py-1 px-2
}

.Input_box_variant_1 {
  @apply bg-transparent outline-none border-b-2 pb-2 text-xl px-1
}

.Invalid_input {
  @apply placeholder:text-red-500 text-red-500 shadow-md
}

.Input_box {
    @apply bg-white flex rounded-2xl grow outline-none border-2 justify-between  text-lg px-1
}
.Nav_bar {
  @apply  fixed top-0 left-0 w-full h-[60px] bg-white  shadow-md transition ease-in-out duration-300;
}

.Buttons_container {
  @apply flex h-full w-fit justify-end items-center
}

.Icon {
    @apply size-11 rounded-full overflow-hidden
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

@font-face {
  font-family: "AppLogo";
  src: url("../Fonts/icomoon.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AppName";
  src: url("../Fonts/PlaywriteBEVLG-VariableFont_wght.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
