@tailwind base;
@tailwind components;
@tailwind utilities;

.Message_base {
  @apply rounded-xl size-fit p-2 font-semibold max-w-[85%];
}
.My_message {
  @apply Message_base bg-accent text-primary self-end;
}
.Other_message {
  @apply Message_base bg-primary text-accent self-start;
}

.Theme_list {
  @apply flex flex-wrap gap-2  h-48 w-[150px] rounded-lg overflow-y-scroll no-scrollbar;
}
.Theme_item {
  @apply cursor-pointer w-full h-8 grid grid-cols-4  rounded-lg overflow-hidden;
}
.Theme_list_scroll_border {
  @apply w-full h-5 bg-secondary-2 absolute text-accent flex items-center justify-center;
}
.User_Profile_Layout {
  @apply flex flex-col sm:flex-row sm:justify-start justify-center w-full gap-5 p-5 items-center text-accent;
}
.User_Profile_Page_Picture {
  @apply flex rounded-full size-44 overflow-hidden bg-secondary-2 relative shadow-xl text-9xl;
}
.User_Profile_Page_Username {
  @apply text-4xl text-center sm:text-left font-bold;
}
.User_Profile_Page_Bio {
  @apply text-xl text-center sm:text-left;
}
.User_Profile_Page_Interactive_Bar {
  @apply flex gap-3 px-4 my-2 sm:justify-end justify-center;
}
.User_Profile_Page_Stat_Bar {
  @apply flex flex-row items-start grow justify-evenly gap-4 sm:text-2xl text-lg;
}
.Category {
  font-style: italic;
  white-space: nowrap;
}
.Category::before {
  content: "#";
}

.Notification_view_toggle_button {
  @apply bg-secondary-2 mb-[-10px] text-primary rounded-lg pt-1 pb-3 font-bold;
}

.Notification_list {
  @apply w-[300px] h-[400px] sm:w-[350px] overflow-y-scroll no-scrollbar flex flex-col gap-2 p-2 bg-secondary-2 rounded-lg;
}
.Notification_item {
  @apply flex gap-2 items-center p-2 rounded-xl bg-accent h-fit w-full text-primary select-none cursor-pointer;
}
.Toast_item {
  @apply flex gap-2 items-center p-2 rounded-xl bg-accent h-fit w-[350px] text-primary select-none cursor-pointer;
}

.Form {
  @apply text-accent grid grid-cols-1 sm:grid-cols-2 rounded-3xl w-full max-w-[1080px] min-h-[400px] h-fit shadow-lg m-auto bg-secondary-1;
}
.Sign_In_Form_Desktop {
  @apply hidden;
}
@screen sm {
  .Sign_In_Form_Desktop {
    @apply text-accent grid grid-cols-2 rounded-3xl w-full max-w-[1080px] min-h-[400px] shadow-lg m-auto bg-secondary-1 overflow-hidden h-[80%]  relative;
  }
}

.Sign_In_Form_Mobile {
  @apply size-full grid grid-rows-2 text-accent rounded-3xl relative overflow-hidden shadow-lg bg-secondary-1;
}
@screen sm {
  .Sign_In_Form_Mobile {
    @apply hidden;
  }
}

.Button_base {
  @apply rounded-full font-semibold py-1 px-2 select-none;
}
.Button_variant_1 {
  @apply Button_base border-2 border-accent  bg-accent min-h-fit text-primary hover:bg-secondary-2 hover:border-secondary-2 active:text-accent active:bg-primary;
}
.Button_variant_1_5 {
  @apply Button_base border-2 border-accent bg-primary min-h-fit text-accent hover:bg-secondary-2 active:text-primary active:bg-accent;
}
.Button_variant_2 {
  @apply Button_base text-accent hover:bg-secondary-2;
}

.Invalid_input {
  @apply placeholder:text-red-500 text-red-500 italic;
}

.Input_box_variant_2 {
  @apply bg-transparent outline-none placeholder:text-inherit placeholder:opacity-50 border-primary  border-b-2 pb-2 text-xl px-1 flex;
}

.Input_box_variant_1 {
  @apply bg-primary/50 flex rounded-2xl border-2 border-accent placeholder:text-accent placeholder:opacity-50  items-center grow outline-none justify-between  text-lg px-1 overflow-hidden;
}

.Cate_box {
  @apply flex rounded-2xl items-center outline-none border-2 border-accent justify-start gap-2   text-lg p-2 overflow-hidden;
}
.Cate_tag {
  @apply flex select-none items-center justify-center px-2 py-1 bg-accent text-primary font-semibold rounded-xl gap-2 whitespace-nowrap;
}
.Nav_bar {
  @apply sticky z-20 top-0 left-0 w-full h-[60px] bg-secondary-1 text-accent  shadow-md;
}

.Buttons_container {
  @apply hidden;
}
@screen sm {
  .Buttons_container {
    @apply flex h-full w-fit justify-end items-center gap-2;
  }
}

.Icon {
  @apply flex items-center justify-center size-10 text-2xl rounded-full overflow-hidden hover:bg-secondary-2 text-accent;
}
.Icon_small {
  @apply flex items-center justify-center size-9 text-lg rounded-full overflow-hidden hover:bg-secondary-2 text-accent;
}
.Icon_big {
  @apply flex items-center justify-center size-12 text-3xl rounded-full overflow-hidden hover:bg-secondary-2 text-accent;
}


@layer base {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@font-face {
  font-family: "AppLogo";
  src: url("../Fonts/icomoon.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AppName";
  src: url("../Fonts/PlaywriteBEVLG-VariableFont_wght.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* HTML: <div class="loader"></div> */
.loader {
  background-color: transparent;
  width: 40px;
  aspect-ratio: 1;
  --c: linear-gradient(rgb(var(--accent)) 0 0);
  --r1: radial-gradient(
    farthest-side at bottom,
    rgb(var(--accent)) 93%,
    rgb(var(--accent))
  );
  --r2: radial-gradient(
    farthest-side at top,
    rgb(var(--accent)) 93%,
    rgb(var(--accent))
  );
  background: var(--c), var(--r1), var(--r2), var(--c), var(--r1), var(--r2),
    var(--c), var(--r1), var(--r2);
  background-repeat: no-repeat;
  animation: l2 0.7s infinite alternate;
}
@keyframes l2 {
  0%,
  25% {
    background-size: 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px, 8px 0,
      8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(50% - 2px), 0 calc(50% + 2px), 50% 50%,
      50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px),
      100% calc(50% + 2px);
  }
  50% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px, 8px 0,
      8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%,
      50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px),
      100% calc(50% + 2px);
  }
  75% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px,
      8px 0, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%,
      50% calc(0% - 2px), 50% calc(100% + 2px), 100% 50%, 100% calc(50% - 2px),
      100% calc(50% + 2px);
  }
  95%,
  100% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px,
      8px 100%, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%,
      50% calc(0% - 2px), 50% calc(100% + 2px), 100% 50%, 100% calc(0% - 2px),
      100% calc(100% + 2px);
  }
}

.logoLoader {
  animation: AppLogo-Load 700ms infinite;
}

@keyframes AppLogo-Load {
  0% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

/* HTML: <div class="loader"></div> */
.spinner {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid rgb(var(--primary));
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}


.theme1 {
  --primary: 255, 255, 255;
  --secondary: 224, 224, 224;
  --secondary-variant-1: 166, 166, 166;
  --accent: 0, 0, 0;
  background-color: rgb(var(--primary));
}

.theme2 {
  --primary: 40, 40, 40;
  --secondary: 81, 81, 81;
  --secondary-variant-1: 108, 108, 108;
  --accent: 208, 208, 208;
  background-color: rgb(var(--primary));
}
.theme3 {
  --primary:245, 245, 245;
  --secondary: 72, 207, 203;
  --secondary-variant-1: 34, 151, 153;
  --accent: 66, 66, 66;
  background-color: rgb(var(--primary));
}
.theme4 {
  --primary: 21, 21, 21;
  --secondary: 169, 29, 58;
  --secondary-variant-1: 199, 54, 89;
  --accent: 238, 238, 238;
  background-color: rgb(var(--primary));
}
.theme5 {
  --primary: 10, 29, 86;
  --secondary: 73, 46, 135;
  --secondary-variant-1: 55, 181, 182;
  --accent: 242, 245, 151;
  background-color: rgb(var(--primary));
}
.theme6 {
  --primary: 255, 248, 232;
  --secondary: 247, 238, 211;
  --secondary-variant-1: 170, 179, 150;
  --accent: 103, 70, 54;
  background-color: rgb(var(--primary));
}
.theme7 {
  --primary: 140, 185, 189;
  --secondary: 254, 251, 246;
  --secondary-variant-1: 236, 177, 89;
  --accent: 182, 115, 82;
  background-color: rgb(var(--primary));
}
.theme8 {
  --primary: 245, 247, 248;
  --secondary: 252, 222, 112;
  --secondary-variant-1: 232, 184, 109;
  --accent: 24, 85, 25;
  background-color: rgb(var(--primary));
}
.theme9 {
  --primary: 71, 147, 175;
  --secondary: 255, 196, 112;
  --secondary-variant-1: 221, 87, 70;
  --accent:139, 50, 44 ;
  background-color: rgb(var(--primary));
}
.theme10 {
  --primary: 43, 42, 76;
  --secondary: 179, 19, 18;
  --secondary-variant-1: 234, 144, 108;
  --accent:238, 226, 222 ;
  background-color: rgb(var(--primary));
}
.theme11 {
  --primary: 0, 0, 0;
  --secondary: 207, 10, 10;
  --secondary-variant-1: 220, 95, 0;
  --accent:238, 238, 238 ;
  background-color: rgb(var(--primary));
}
.theme12 {
  --primary: 232, 232, 232;
  --secondary: 240, 84, 84;
  --secondary-variant-1: 48, 71, 94;
  --accent:34, 40, 49;
  background-color: rgb(var(--primary));
}
.theme13 {
  --primary: 56, 20, 96;
  --secondary: 178, 31, 102;
  --secondary-variant-1: 254, 52, 110;
  --accent:255, 189, 105;
  background-color: rgb(var(--primary));
}
.theme14 {
  --primary: 255, 233, 208;
  --secondary: 255, 254, 211 ;
  --secondary-variant-1: 187, 233, 255;
  --accent:177, 175, 255;
  background-color: rgb(var(--primary));
}
.theme15 {
  --primary: 245, 238, 230;
  --secondary: 255, 248, 227;
  --secondary-variant-1: 243, 215, 202 ;
  --accent: 230, 164, 180;
  background-color: rgb(var(--primary));
}
.theme16 {
  --primary: 253, 253, 189;
  --secondary: 200, 255, 212;
  --secondary-variant-1: 184, 232, 252;
  --accent:177, 175, 255;
  background-color: rgb(var(--primary));
}

